# PRINT

PROBLEM 1
How to print name?

In [ ]:
print("Labanya")
print()

Labanya

Problem 2.
How to print hello world?

In [ ]:
print('hello world')

hello world

problem 3: print course?

In [ ]:
print('cse')

cse

4)how to print kushtia?
5)Dhaka?

In [1]:
print('Kushtia')
print('Dhaka')

Kushtia
Dhaka

VARIABLE

1)pRINT STRING?

In [ ]:
b = "labanya"
print(b)

labanya

2)print int?

In [ ]:
l= 25
print(l)

25

print bool?

In [ ]:
d = False
print(d)

False

4)showing us the type of variable?

In [ ]:
c = 5.9
d= True

print(type(c))
print(type(d))

<class 'float'>
<class 'bool'>

5)how to show string cast?

In [4]:
b='labanya'

a=str(b)
print(type(a))
print(a)

<class 'str'>
labanya

OPERATION

1.How to sum?

In [ ]:
a=5
b=3

sum=a+b
print("Sum",sum)

Sum 8

How to difference result?

In [ ]:
a=10
b=3
difference=a-b

print("Difference=",difference)

Difference= 7

how to calculation muliplicate two numbers?

In [ ]:
a=9
b=3
multi=a*b
print(a*b)

27

4)YOU HAVE 25 APPPLES.how u between these apples with 5 peoples?

In [ ]:
apples=25
man=5
print(apples/man)

5.0

5)Showing sum and multi together?

In [5]:
a=59
b=22
sum = a+b
multi=a*b
print(sum)
print(multi)

81
1298

STRING

1)Concatenate two strings and store the result?

In [ ]:
string1="hello"
string2="world"

string=string1 + " " + string2
print(string)

hello world

2)print lowercase letter?

In [ ]:
a= "labanya"
print(a.lower())

labanya

3)print uppercase letter?

In [ ]:
b="saha"
print(b.upper())

SAHA

4)print split how to word?

In [ ]:
s="labanya saha"
print(s.split())

['labanya', 'saha']

5)How to concatenate lowercase letters?

In [ ]:
a="labanya"
b="saha"
c=a+'hey'+b+str(59)
c
c.lower()

'labanyaheysaha59'

CONTROL FLOW

1.Find out odd or even?

In [ ]:
a=20
if a%2==0:
  print('even')
else:
  print('odd')

even

2)Find out age is higher than 18?

In [ ]:
age=23
if age>=18:
  print('adult')
else:
  print('not adult')

adult

3)Write a program that takes a year as input and prints wether its leap year or not?

In [ ]:
year=2024

if(year%4==0 and year%100!=0) or (year%400==0):
  print("leap year")
else:
  print("NOT leap year")

leap year

Write a program that takes a numerical grade as input and prints the corresponding letter grade (A, B, C, D, or F).

In [ ]:
grade = 110

if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
elif grade >= 60:
    print("D")
else:
    print("F")

A

5)Find largest number?

In [ ]:
l = 19
if 17>l>20:
  print('yes')
else:
  print('no')

no

USER INPUT

1)Sum of two numbers?

In [ ]:
num1=float(input("enter number1"))
num2=float(input("enter number2"))

sum=num1+num2
print(sum)

enter number13
enter number24
7.0

2)Calculate area of circle?

In [ ]:
r=float(input("enter the radius: "))
a=3.14*r*r
print(r)

enter the radius: 4
4.0

3)Print user input?

In [ ]:
a=int(input())
print(type(a))

3
<class 'int'>

4)print float ?

In [ ]:
a=float(input())
print(a)

2.0
2.0

5)Enter your age and name?

In [ ]:
name=input('Enter name: ')
age=int(input('Enter Age: '))
print(type(age))
print('Hello'+name+'your age is'+str(age))
print (name,age)

Enter name: labanya
Enter Age: 22
<class 'int'>
Hellolabanyayour age is22
labanya 22

COMMAND LINE

In [ ]:
#How are you?
"""
I am fine

"""

'\nI am fine\n\n'

LOOP

3.

1)Print odd number?

In [ ]:
for i in range(1,101,2):
  print(i)
#print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

3.Decrease number?

In [ ]:
for i in range(50,-1,-5):
  print(i)

50
45
40
35
30
25
20
15
10
5
0

4)Using while loop?

In [ ]:
count=1
while count<=20:
  print(count)
  count+=2

1
3
5
7
9
11
13
15
17
19

5)showing even numbers?

In [6]:
for i in range (2,100,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

LIST

1)How to accessing elements?

In [ ]:
students=["labanya","22","saha","shuvra"]
print(students[0])
print(students[1])
print(students[2])

labanya
22
saha

2)How to list second value change?

In [ ]:
students[1]="lpdssj"
print(students)

['labanya', 'lpdssj', 'saha', 'shuvra']

3)How to add new student name?

In [ ]:
students.append("jd")
print(students)

['labanya', 'lpdssj', 'saha', 'shuvra', 'jd']

4)How to remove element?

In [ ]:
students.remove("shuvra")
print(students)

removed_students=students.pop(0)
print(students)
print(removed_students)

['labanya', 'lpdssj', 'saha', 'jd']
['lpdssj', 'saha', 'jd']
labanya

5)Find len?

In [ ]:
print(len(students))

3

Tuple

1)How to access individual elements?

In [7]:
labanya=(22,2001)
print(labanya[0])
print(labanya[1])

22
2001

2)Packing tuple print?

In [9]:
name='labanya'
age=22

name_and_age=("labanya",22)
print(name)
print(age)

labanya
22

3)Unpacking tuple print?

In [10]:
name,age=name_and_age
print(name)
print(age)

labanya
22

4)How to use loop for iterator each elements in a tuple?

In [12]:
favourites=("K-pop","travelling","mobile")
for favourite in favourites:
  print(favourite)

K-pop
travelling
mobile

5)How to print tuple length?

In [13]:
print(len(favourites))

3

6)How to combined tuple?

In [14]:
l=(1,2,3)
p=(4,5,6)
print(l+p)

(1, 2, 3, 4, 5, 6)

DICTIONARY

1)How to access values in dictionary by referring to their keys?

In [17]:
myself={
    "name":"labanya",
    "age": 22,
    "major":"computer-science"
}
print(myself["name"])
print(myself["major"])

labanya
computer-science

2)How to change age value?

In [19]:
myself["age"]=22
print(myself["age"])

22

3)How to adding values in dictionary?

In [20]:
myself["gender"]="Female"
print(myself)

{'name': 'labanya', 'age': 22, 'major': 'computer-science', 'gender': 'Female'}

4)how to delete age?

In [21]:
del myself["age"]
print(myself)

{'name': 'labanya', 'major': 'computer-science', 'gender': 'Female'}

5)Check age exist or not?

In [22]:
if "age" in myself:
  print("Age:",myself["age"])
else:
  print("Age is not found")

Age is not found

6)Print keys and values?

In [23]:
keys=myself.keys()
values=myself.values()
print(keys)
print(values)

dict_keys(['name', 'major', 'gender'])
dict_values(['labanya', 'computer-science', 'Female'])

FUNCTIONS

1)How to print value using function method?

In [24]:
def p(a,b,c=59):
  print(a)
  print(b)
  print(c)
p(57,58)

57
58
59

2)How to calling function?

In [27]:
#greet("labanya")

def greet(name):
  print("Hello," + name + "!")
greet("labanya")

Hello,labanya!

3)How to use parameters?

In [28]:
"""
def add(a=2,b=9):
  #return a+b
  print("add")
add(a+b)
"""

add

In [30]:
def add(a,b=4):
  return a+b
r=add(4,5)
print(r)

9

4)How to print default values for function parameters?

In [31]:
def greet(name,g="Hello"):
  return f"{g},{name}!"

print(greet("labanya"))
print(greet("pllp","hi"))

Hello,labanya!
hi,pllp!

5)Print same order?

In [33]:
def add(a,b,c):
  print('first >>',a)
  print('second >>',b)
  print('third >>',c)

add(a=5,c=9,b=2)

first >> 5
second >> 2
third >> 9